{
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "description": "A scalable REST API for event ticketing system with secure authentication and role-based access control (RBAC)",
    "title": "Timro Ticket API",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "name": "API Support",
      "url": "http://www.swagger.io/support",
      "email": "support@swagger.io"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0"
  },
  "host": "sandbox.timroticket.com",
  "basePath": "/",
  "paths": {
    "/api/v1/admin/categories": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Get all categories including inactive ones for admin management",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin Management"
        ],
        "summary": "Get all categories (Admin)",
        "responses": {
          "200": {
            "description": "Categories list",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/models.CategoryResponse"
                      }
                    }
                  }
                }
              ]
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Create a new event category",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin Management"
        ],
        "summary": "Create new category (Admin)",
        "parameters": [
          {
            "description": "Category data",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.CreateCategoryRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Category created",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/models.CategoryResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "409": {
            "description": "Category already exists",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/categories/{id}": {
      "put": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Update an existing category",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin Management"
        ],
        "summary": "Update category (Admin)",
        "parameters": [
          {
            "type": "string",
            "description": "Category ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "Category update data",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.UpdateCategoryRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category updated",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/models.CategoryResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "404": {
            "description": "Category not found",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "409": {
            "description": "Category name already exists",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Soft delete a category",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin Management"
        ],
        "summary": "Delete category (Admin)",
        "parameters": [
          {
            "type": "string",
            "description": "Category ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Category deleted successfully",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "400": {
            "description": "Invalid category ID",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "404": {
            "description": "Category not found",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/company-info": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Get company information for admin management",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin Management"
        ],
        "summary": "Get company information (Admin)",
        "responses": {
          "200": {
            "description": "Company information",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/models.CompanyInfoResponse"
                    }
                  }
                }
              ]
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Update website company information with logo upload support",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin Management"
        ],
        "summary": "Update company information (Admin)",
        "parameters": [
          {
            "type": "string",
            "description": "Company name",
            "name": "name",
            "in": "formData"
          },
          {
            "type": "string",
            "description": "Company description",
            "name": "description",
            "in": "formData"
          },
          {
            "type": "file",
            "description": "Company logo image",
            "name": "logo",
            "in": "formData"
          },
          {
            "type": "string",
            "description": "Company email",
            "name": "email",
            "in": "formData"
          },
          {
            "type": "string",
            "description": "Company phone",
            "name": "phone",
            "in": "formData"
          },
          {
            "type": "string",
            "description": "Company address",
            "name": "address",
            "in": "formData"
          },
          {
            "type": "string",
            "description": "Company website URL",
            "name": "website_url",
            "in": "formData"
          },
          {
            "type": "string",
            "description": "Facebook URL",
            "name": "facebook_url",
            "in": "formData"
          },
          {
            "type": "string",
            "description": "Twitter URL",
            "name": "twitter_url",
            "in": "formData"
          },
          {
            "type": "string",
            "description": "Instagram URL",
            "name": "instagram_url",
            "in": "formData"
          },
          {
            "type": "string",
            "description": "LinkedIn URL",
            "name": "linkedin_url",
            "in": "formData"
          },
          {
            "type": "string",
            "description": "YouTube URL",
            "name": "youtube_url",
            "in": "formData"
          }
        ],
        "responses": {
          "200": {
            "description": "Company information updated",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/models.CompanyInfoResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/dashboard": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Get comprehensive dashboard statistics for admin users",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Dashboard"
        ],
        "summary": "Get admin dashboard data",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/events": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Get a list of all events with pagination, search, and filtering (Admin only)",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin"
        ],
        "summary": "Get all events (Admin)",
        "parameters": [
          {
            "type": "integer",
            "default": 1,
            "description": "Page number",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 10,
            "description": "Items per page",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Search by event title or description",
            "name": "search",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by location",
            "name": "location",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by status (draft, pending, approved, held, rejected)",
            "name": "status",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by organizer ID",
            "name": "organizer_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by start date (YYYY-MM-DD)",
            "name": "start_date",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by end date (YYYY-MM-DD)",
            "name": "end_date",
            "in": "query"
          },
          {
            "type": "number",
            "description": "Filter by minimum price",
            "name": "min_price",
            "in": "query"
          },
          {
            "type": "number",
            "description": "Filter by maximum price",
            "name": "max_price",
            "in": "query"
          },
          {
            "type": "string",
            "default": "\"-created_at\"",
            "description": "Sort by field with optional '-' prefix for desc (e.g., '-created_at', 'title', '-status')",
            "name": "sort",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/events/analytics": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Get analytics for all events with pagination",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin"
        ],
        "summary": "Get all events analytics (Admin)",
        "parameters": [
          {
            "type": "integer",
            "default": 1,
            "description": "Page number",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 20,
            "description": "Page size",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/models.EventAnalyticsResponse"
                      }
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/events/pending": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Get list of events that need admin/subadmin approval",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin"
        ],
        "summary": "Get events pending approval (Admin)",
        "parameters": [
          {
            "type": "integer",
            "default": 1,
            "description": "Page number",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 10,
            "description": "Items per page",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "string",
            "default": "\"-created_at\"",
            "description": "Sort by field with optional '-' prefix for desc (e.g., '-created_at', 'title')",
            "name": "sort",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/events/{id}": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Get detailed event information by ID for admin",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin"
        ],
        "summary": "Get event by ID (Admin)",
        "parameters": [
          {
            "type": "string",
            "description": "Event ID (UUID)",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/models.EventDetailResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Update event details by ID (Admin only)",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin"
        ],
        "summary": "Update an event (Admin)",
        "parameters": [
          {
            "type": "integer",
            "description": "Event ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "Updated event details",
            "name": "event",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.EventUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/models.Event"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Delete an event by ID (Admin only)",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin"
        ],
        "summary": "Delete an event (Admin)",
        "parameters": [
          {
            "type": "integer",
            "description": "Event ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/events/{id}/analytics": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Get comprehensive analytics for an event including tier breakdown (Admin access - no organizer scoping)",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin"
        ],
        "summary": "Get event analytics (Admin)",
        "parameters": [
          {
            "type": "string",
            "description": "Event ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/models.EventAnalyticsResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/events/{id}/cancel": {
      "put": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Cancel an event with reason. Admins can cancel any event, organizers can only cancel their own events.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Organizer"
        ],
        "summary": "Cancel an event (Organizer/Admin)",
        "parameters": [
          {
            "type": "string",
            "description": "Event ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "Cancellation request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.EventCancellationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/models.Event"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/events/{id}/featured": {
      "put": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Mark/unmark an event as featured",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin"
        ],
        "summary": "Toggle event featured status (Admin)",
        "parameters": [
          {
            "type": "string",
            "description": "Event ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "Featured status",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "boolean"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event featured status updated",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/models.Event"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "404": {
            "description": "Event not found",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/events/{id}/status": {
      "put": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Allow admin/subadmin to update event status, commission rate, and admin remarks. Available statuses: pending, approved, rejected, on_sale, live, hold, scheduled, cancelled, draft",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin"
        ],
        "summary": "Update event status and commission (Admin)",
        "parameters": [
          {
            "type": "string",
            "description": "Event ID (UUID)",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "Event status update details with status, commission_rate (optional), and admin_remark",
            "name": "status",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.EventStatusUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/models.Event"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/events/{id}/status-history": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Get the complete status change history for an event (Admin only)",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin"
        ],
        "summary": "Get event status change history (Admin)",
        "parameters": [
          {
            "type": "string",
            "description": "Event ID (UUID)",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/list-all": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Get a list of all entities of a specific type without pagination. Supported types: users, events, organizers, guest_users, payment_gateways",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin Management"
        ],
        "summary": "List all entities without pagination (Admin only)",
        "parameters": [
          {
            "enum": [
              "users",
              "events",
              "organizers",
              "guest_users",
              "payment_gateways"
            ],
            "type": "string",
            "description": "Entity type to list",
            "name": "type",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "List of payment gateways",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/handlers.MinimalPaymentGatewayResponse"
                      }
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad request - missing or invalid type parameter",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "403": {
            "description": "Forbidden - Admin access required",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/organizers": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Get list of all organizers with their current approval status (pending, approved, rejected, inactive) with search and filter capabilities. Use all_approved=true to get all approved organizers without pagination. Returns simplified organizer information.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin"
        ],
        "summary": "Get all organizers with their approval status",
        "parameters": [
          {
            "type": "integer",
            "default": 1,
            "description": "Page number",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 10,
            "description": "Items per page",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "string",
            "default": "\"-created_at\"",
            "description": "Sort by field with optional '-' prefix for desc (e.g., '-created_at', 'first_name', '-organizer_status')",
            "name": "sort",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Search term for first_name, last_name, or email",
            "name": "search",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by organizer status (pending, approved, rejected, inactive)",
            "name": "status",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by account status (active, inactive, suspended)",
            "name": "account_status",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "If true, returns all approved organizers without pagination",
            "name": "all_approved",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/models.OrganizerSimpleListResponse"
                    }
                  }
                }
              ]
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/organizers/pending": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Get list of organizers pending approval",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin"
        ],
        "summary": "Get pending organizers",
        "parameters": [
          {
            "type": "integer",
            "default": 1,
            "description": "Page number",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 10,
            "description": "Items per page",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "string",
            "default": "\"-created_at\"",
            "description": "Sort by field with optional '-' prefix for desc (e.g., '-created_at', 'first_name')",
            "name": "sort",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              ]
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/organizers/{id}": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Get simplified information about a specific organizer by their ID including onboarding completion status",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin"
        ],
        "summary": "Get organizer by ID",
        "parameters": [
          {
            "type": "string",
            "description": "Organizer ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/models.OrganizerSimpleResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/organizers/{id}/approval": {
      "put": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Admin/subadmin can approve, reject, or change status of organizers. Once approved, organizers cannot be rejected but can have their status changed to other values.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin"
        ],
        "summary": "Approve or reject organizer",
        "parameters": [
          {
            "type": "string",
            "description": "User ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "Approval data",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.OrganizerApprovalRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/models.UserResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/otp/status": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Get the status of OTP for a specific identifier (admin only)",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin"
        ],
        "summary": "Get OTP status for debugging",
        "parameters": [
          {
            "type": "string",
            "description": "Email or identifier",
            "name": "identifier",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "OTP type (registration, password_reset, etc.)",
            "name": "otp_type",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/payment-gateways": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Get all gateways (paginated) or supported gateway types using ?type=supported",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin - Payment Gateways"
        ],
        "summary": "Manage payment gateway configurations (Admin)",
        "parameters": [
          {
            "type": "string",
            "description": "Query type: 'supported' for gateway types",
            "name": "type",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 1,
            "description": "Page number",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 10,
            "description": "Items per page",
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Create a new payment gateway configuration with API keys, secrets, and settings. All credentials will be encrypted before storage. Requires admin password verification.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin - Payment Gateways"
        ],
        "summary": "Create payment gateway configuration (Admin)",
        "parameters": [
          {
            "description": "Gateway configuration with required API keys, settings, and password verification",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.CreatePaymentGatewayConfigRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Gateway configuration created successfully",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/models.PaymentGatewayConfig"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Invalid request payload or missing required fields",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "401": {
            "description": "Unauthorized - Admin access required or invalid password",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "409": {
            "description": "Gateway with this name already exists",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/payment-gateways/{gateway_id}": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Retrieve a specific payment gateway configuration",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin - Payment Gateways"
        ],
        "summary": "Get payment gateway by ID (Admin)",
        "parameters": [
          {
            "type": "string",
            "description": "Gateway ID",
            "name": "gateway_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/models.PaymentGatewayConfig"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Update gateway API keys, secrets, settings, or configuration. Only provided fields will be updated. Requires admin password verification.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin - Payment Gateways"
        ],
        "summary": "Update payment gateway configuration (Admin)",
        "parameters": [
          {
            "type": "string",
            "example": "550e8400-e29b-41d4-a716-446655440000",
            "description": "Gateway configuration ID",
            "name": "gateway_id",
            "in": "path",
            "required": true
          },
          {
            "description": "Gateway configuration updates with password verification",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.UpdatePaymentGatewayConfigRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Gateway configuration updated successfully",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/models.PaymentGatewayConfig"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Invalid gateway ID or request payload",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "401": {
            "description": "Unauthorized - Admin access required or invalid password",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "404": {
            "description": "Gateway configuration not found",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "409": {
            "description": "Gateway name already exists",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Delete a payment gateway configuration. Requires admin password verification.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin - Payment Gateways"
        ],
        "summary": "Delete payment gateway (Admin)",
        "parameters": [
          {
            "type": "string",
            "description": "Gateway ID",
            "name": "gateway_id",
            "in": "path",
            "required": true
          },
          {
            "description": "Password verification for deletion",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.DeletePaymentGatewayConfigRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "401": {
            "description": "Unauthorized - Admin access required or invalid password",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "404": {
            "description": "Gateway not found",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      },
      "patch": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Execute actions: toggle (enable/disable), test (connection), reload, validate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin - Payment Gateways"
        ],
        "summary": "Perform actions on payment gateway (Admin)",
        "parameters": [
          {
            "type": "string",
            "description": "Gateway ID (use 'all' for reload action)",
            "name": "gateway_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Action: toggle, test, reload, validate",
            "name": "action",
            "in": "query",
            "required": true
          },
          {
            "description": "Action parameters",
            "name": "request",
            "in": "body",
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/payments": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Retrieve all payment intents with filters (admin only)",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin - Payments"
        ],
        "summary": "Get all payments (Admin)",
        "parameters": [
          {
            "type": "integer",
            "default": 1,
            "description": "Page number",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 10,
            "description": "Items per page",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by status",
            "name": "status",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by payment gateway",
            "name": "gateway",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by event ID",
            "name": "event_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              ]
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/payments/analytics": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Get payment statistics and analytics",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin - Payments"
        ],
        "summary": "Get payment analytics (Admin)",
        "parameters": [
          {
            "type": "string",
            "description": "Start date (YYYY-MM-DD)",
            "name": "start_date",
            "in": "query"
          },
          {
            "type": "string",
            "description": "End date (YYYY-MM-DD)",
            "name": "end_date",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/payments/audit-logs": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Query payment audit logs with filtering",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin - Payments"
        ],
        "summary": "Get payment audit logs (Admin)",
        "parameters": [
          {
            "type": "integer",
            "description": "Page number",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Items per page",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by action (e.g., payment_created, refund_approved)",
            "name": "action",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by entity type (e.g., payment_intent, refund)",
            "name": "entity_type",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by entity ID",
            "name": "entity_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by actor ID",
            "name": "actor_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/models.PaymentAuditLog"
                      }
                    }
                  }
                }
              ]
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/payments/bills": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Get paginated list of all payment bills with filtering and search options",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Financial"
        ],
        "summary": "Get all payment bills",
        "parameters": [
          {
            "type": "integer",
            "description": "Page number (default: 1)",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Items per page (default: 20, max: 100)",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by status (pending, paid, overdue, cancelled)",
            "name": "status",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by organizer ID",
            "name": "organizer_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter bills from this date (YYYY-MM-DD)",
            "name": "start_date",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter bills to this date (YYYY-MM-DD)",
            "name": "end_date",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Search by bill ID, organizer name, event title, or payment reference",
            "name": "search",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Create a payment bill to track organizer payout for a single event.\\n\\nThe system automatically calculates the outstanding organizer earnings from completed transactions (minus any previously paid bills). The bill is created with default priority 'normal' and can be updated later for additional details.",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Financial"
        ],
        "summary": "Create payment bill",
        "parameters": [
          {
            "type": "string",
            "example": "fa50c770-6a8c-4f50-a9fc-84c9dce21fe9",
            "description": "UUID of the event",
            "name": "event_id",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "example": "dcf2dda4-a490-4898-a402-d301567c2cf6",
            "description": "UUID of the organizer",
            "name": "organizer_id",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "description": "Payment method: bank_transfer | check | cash | mobile_payment | other",
            "name": "payment_method",
            "in": "formData",
            "required": true
          },
          {
            "type": "file",
            "description": "Optional payment proof screenshot (jpg/png/pdf, max 10 MB)",
            "name": "screenshot",
            "in": "formData"
          }
        ],
        "responses": {
          "201": {
            "description": "Bill created",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/models.PaymentBillResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/payments/bills/{bill_id}": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Get full details of a payment bill including organizer earnings breakdown,\\ncurrent paid_amount, remaining_amount, and payment history.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Financial"
        ],
        "summary": "Get payment bill by ID",
        "parameters": [
          {
            "type": "string",
            "description": "UUID of the bill",
            "name": "bill_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Bill detail with billed_amount, paid_amount, remaining_amount and status",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/models.PaymentBillResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Record a (partial) payment or change the bill status.\\n\\nWhen **payment_amount** is provided the service increments **paid_amount** and decrements **remaining_amount** then sets status automatically:\\n- remaining_amount == 0 → **paid**\\n- remaining_amount \u003E 0  → **partially_paid**\\n\\nOmit payment_amount for a status-only update (e.g. mark as cancelled or overdue).",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Financial"
        ],
        "summary": "Update payment bill",
        "parameters": [
          {
            "type": "string",
            "description": "UUID of the bill to update",
            "name": "bill_id",
            "in": "path",
            "required": true
          },
          {
            "description": "Update payload. status is required; payment_amount triggers partial/full payment logic.",
            "name": "bill",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.UpdatePaymentBillRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated bill with current paid_amount and remaining_amount",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/models.PaymentBillResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "payment_amount exceeds remaining_amount, or invalid status value",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "404": {
            "description": "Bill not found",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/payments/bills/{bill_id}/payments": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Record an individual payment against a bill. The bill's **paid_amount**",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Financial"
        ],
        "summary": "Add payment to bill",
        "parameters": [
          {
            "type": "string",
            "description": "UUID of the bill",
            "name": "bill_id",
            "in": "path",
            "required": true
          },
          {
            "type": "number",
            "description": "Amount being paid (must be \u003E 0 and ≤ remaining_amount)",
            "name": "amount",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "description": "bank_transfer | check | cash | mobile_payment | other",
            "name": "payment_method",
            "in": "formData",
            "required": true
          },
          {
            "type": "string",
            "description": "External reference e.g. SWIFT ID",
            "name": "payment_ref",
            "in": "formData"
          },
          {
            "type": "string",
            "description": "ISO8601 payment date (defaults to now)",
            "name": "payment_date",
            "in": "formData"
          },
          {
            "type": "string",
            "description": "Optional remarks",
            "name": "notes",
            "in": "formData"
          },
          {
            "type": "file",
            "description": "Payment proof screenshot (jpg/png/pdf, max 10 MB)",
            "name": "screenshot",
            "in": "formData"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated bill with new paid_amount and remaining_amount",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/models.PaymentBillResponse"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/payments/gateways/reencrypt": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Re-encrypt all gateway credentials with the current encryption key",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin - Payments"
        ],
        "summary": "Re-encrypt all gateway configs (Admin)",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/payments/refunds": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Retrieve all refund requests with filters",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin - Payments"
        ],
        "summary": "Get all refunds (Admin)",
        "parameters": [
          {
            "type": "integer",
            "default": 1,
            "description": "Page number",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 10,
            "description": "Items per page",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by status (pending, succeeded, failed, canceled)",
            "name": "status",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": true
                    }
                  }
                }
              ]
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/payments/refunds/{refund_id}/approve": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Approve a pending refund request and process the refund",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin - Payments"
        ],
        "summary": "Approve a refund request (Admin)",
        "parameters": [
          {
            "type": "string",
            "description": "Refund ID",
            "name": "refund_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/models.Refund"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/payments/refunds/{refund_id}/reject": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Reject a pending refund request",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin - Payments"
        ],
        "summary": "Reject a refund request (Admin)",
        "parameters": [
          {
            "type": "string",
            "description": "Refund ID",
            "name": "refund_id",
            "in": "path",
            "required": true
          },
          {
            "description": "Rejection details",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/models.Refund"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/payments/transactions/{id}/retry": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Retry processing a failed payment intent",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin - Payments"
        ],
        "summary": "Retry failed transaction (Admin)",
        "parameters": [
          {
            "type": "string",
            "description": "Payment Intent ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/payments/webhooks/{id}/retry": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Retry processing a failed webhook event",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin - Payments"
        ],
        "summary": "Retry failed webhook (Admin)",
        "parameters": [
          {
            "type": "string",
            "description": "Webhook Event ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/payouts": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Get all payout requests from all organizers",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin Payouts"
        ],
        "summary": "Get all payout requests (Admin)",
        "parameters": [
          {
            "type": "integer",
            "default": 1,
            "description": "Page number",
            "name": "page",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 20,
            "description": "Page size",
            "name": "limit",
            "in": "query"
          },
          {
            "enum": [
              "pending",
              "approved",
              "rejected",
              "paid"
            ],
            "type": "string",
            "description": "Filter by status",
            "name": "status",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/models.PayoutRequestResponse"
                      }
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/payouts/{id}/status": {
      "put": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Approve, reject, or mark payout request as paid",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin Payouts"
        ],
        "summary": "Update payout request status (Admin)",
        "parameters": [
          {
            "type": "string",
            "description": "Payout Request ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "Status update",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.PayoutRequestUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/permissions": {
      "get": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Retrieve all available system permissions",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin Permissions"
        ],
        "summary": "Get all system permissions (Admin Only)",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/models.Permission"
                      }
                    }
                  }
                }
              ]
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Create a new custom permission",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin Permissions"
        ],
        "summary": "Create custom permission (Admin Only)",
        "parameters": [
          {
            "description": "Permission details",
            "name": "permission",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/models.CreatePermissionRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/definitions/utils.Response"
                },
                {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/definitions/models.Permission"
                    }
                  }
                }
              ]
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/permissions/initialize": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Initialize predefined system permissions",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin Permissions"
        ],
        "summary": "Initialize system permissions (Admin Only)",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/permissions/initialize-roles": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Initialize predefined system roles and assign permissions WITHOUT clearing existing assignments",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin Permissions"
        ],
        "summary": "Initialize system roles safely (Admin Only)",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          }
        }
      }
    },
    "/api/v1/admin/permissions/initialize-system": {
      "post": {
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "description": "Initialize both permissions and roles WITHOUT clearing existing role-permission assignments",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Admin Permissions"
        ],
        "summary": "Initialize complete system permissions and roles safely (Admin Only)",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/utils.Response"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
[...]
