/organizer_panel/public/*
!/organizer_panel/public/
!/organizer_panel/public/.gitkeep

# ---- Node & Next.js ----
node_modules/
.next/
out/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ---- Environment ----
.env

# ---- OS / Editor ----
.DS_Store
.vscode/
.idea/


# ---- Logs ----
logs
*.log



.env*

